* {
  margin: 0;
}

.bg-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: #ffffff;
  height: 90vh;
  width: 70vw;
  border-radius: 15px;
  padding: 75px;
}

.main-heading {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  margin-bottom: 100px;
}

.counter {
  color: #ffd569;
}

.fruits-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.fruit-container {
  display: flex;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
}

.fruit-image {
  width: 400px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 15px;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 767px) {
  .fruits-container {
    flex-direction: column;
  }
}
